<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PUBLIC_API_KEY</key>
	<string>b690df668949dbc74a112f9d4c84cc91</string>
	<key>PRIVATE_API_KEY</key>
	<string>f0b3201cbac9210b1e3d0566d4713176453e4967</string>
</dict>
</plist>
